{% extends 'writer/base.html' %} {% block title %}Delete Account{%endblock %} 
{%block content %}
<div class="container bg-white p-5 shadow-md rounded text-center">
  <h3 class="text-danger">Are you sure you want to delete your account?</h3>
    <p class="text-muted">This action cannot be undone.</p>
    <br>
    <form action="" method="POST" accept-charset="utf-8">
        {% csrf_token %}
        <a href="{% url 'author_articles' %}" class="btn btn-warning btn-lg">No, Cancel</a>
        <button type="submit" class="btn btn-danger btn-lg">Yes, Delete</button>
    </form>
</div>

{% endblock %}
